/* CSS custom properties */
:root {
    --clr-light: #efefef;
    --clr-timberwolf: rgb(218, 215, 205);
    --clr-sage: rgb(163, 177, 138);
    --clr-fern-green: rgb(78, 117, 77);
    --clr-hunter-green: rgb(58, 90, 64);
    --clr-brunswick-green: rgb(46, 69, 58);
    --padding: 5em;
}

/* Global settings */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: var(--clr-fern-green);
    padding: 1em 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

footer {
    background-color: var(--clr-brunswick-green);
    margin-top: 5em;
    padding: 5em 0;
    text-align: center;
}

/* General components */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    color: var(--clr-light);
    background-color: var(--clr-fern-green);
    padding: .8em 1.5em;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-hunter-green);
}


/* Styles related to header section and navigation bar */


.logo {
    display: flex;
    margin: 0 auto;
}

/* Navigation is hidden in mobile mode until you click the menu icon */
.nav {
    text-align: center;
    visibility: hidden;
    height: 0;

}

.nav--visible {
    visibility: visible;
    height: auto;
}

.nav__item {
    margin-top: 1em;
}

.nav__link {
    color: var(--clr-light);
    font-weight: 600;
}

.nav__link--account {
    border: 1px solid var(--clr-light);
    border-radius: 2px;
    color: var(--clr-light);
    transition: all 100ms ease-in;
    padding: .6em .8em;
}

.nav__link--account:hover,
.nav__link--account:focus {
    background-color: var(--clr-light);
    color: var(--clr-fern-green);
}

.nav__link,
.footer-nav__link {
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    opacity: 75%;
}

/* Styles related to the menu icon */
.nav-toggle {
    cursor: pointer;
    width: 3em;
    height: 3em;
    padding: 0;
    color: var(--clr-light);
    background-color: transparent;
    border: none;
    position: absolute;
    top: .5em;
    right: .5em;
}

.nav-toggle:hover,
.nav-toggle:focus {
    opacity: 75%;
}

.hamburger {
    width: 60%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    height: 3px;
    margin: 0 auto;
    background: var(--clr-light);
}

.hamburger::before,
.hamburger::after {
    content: '';
}

.hamburger::before {
    transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
}

/* Styles related to the hero image */
.hero-image__container {
    min-height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/view_of_dalarna-hero-image.webp);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: var(--padding);
}

.hero-image__container--vandring {
    background-image: url(../images/female_hiker_back-hero-image.webp);
}

.btn-hero {
    margin-bottom: 3em;
}

/* Styles related to the main section */
.main__heading {
    text-align: center;
    margin-bottom: 2em;
}

.mini-features {
    margin-bottom: 4em;
}

.mini-feature__container {
    text-align: center;
}

.mini-feature__container + .mini-feature__container {
    margin-top: 2em;
}

.mini-feature__icon {
    margin-bottom: 1em;
}

.main-feature__container {
    background-color: var(--clr-timberwolf);
    padding: 3em;
}

.main-features + .main-features {
    margin-top: 4em;
}

.main-feature__heading {
    font-size: 1.8em;
    margin-bottom: .3em;
}

.main-feature__paragraph,
.main-feature__image {
    margin-bottom: 2em;
}

.main-feature__btn__container {
    text-align: center;
    margin-bottom: 2em;
}

/* Styles related to the footer section */
.social-media__container {
    margin-bottom: 2em;
}

.social-media__list {
    display: flex;
    justify-content: center;
}

.footer-nav {
    margin-bottom: 1em;
}

.footer-nav__list {
    display: flex;
    justify-content: center
}

.social-media__item + .social-media__item,
.footer-nav__item + .footer-nav__item {
    margin-left: 1.8em;
}

.footer__link,
.footer-copy__text {
    color: var(--clr-sage);
    transition: all 100ms ease-in;
}

.footer__link:hover,
.footer__link:focus {
    opacity: .75;
}

.footer-copy__text {
    font-size: .8em;
}

/* Media queries for responsive modes */
@media (min-width: 700px) {
    
}

@media (min-width: 980px) {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
    }

    .nav {
        visibility: visible;
        height: auto;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin-top: 0;
    }

    .nav__item + .nav__item {
        margin-left: 2em;
    }

    .nav-toggle {
        visibility: hidden;
        height: 0;
    }
    
    .mini-features {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(3, 1fr);
    }

    .mini-feature__container + .mini-feature__container {
        margin-top: 0;
    }

    .main-feature__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        align-items: center;
    }

    .main-feature__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-feature__text__order {
        order: 2;
    }
}